<!-- app/views/ie_statements/new.html.erb -->

<h1>Create an I&E Statement</h1>

<%= simple_form_for @ie_statement, url: ie_statements_path do |form| %>
  <%= form.input :person_name, required: true, label: 'Person Name' %>

  <%= form.input :income, required: true %>

  <%= form.input :expenditure, required: true %>

  <%= form.button :submit, class: 'btn-primary' %>
<% end %>
